In [10]:
import pandas as pd

In [11]:
df_list = pd.read_html('https://en.wikipedia.org/wiki/List_of_largest_companies_in_South_Africa',match='Industry')

In [12]:
df_list

[    Unnamed: 0  Forbes 2000 rank                Name   Headquarters  \
 0            1               261      Anglo American  Johannesburg*
 1            2               415       Standard Bank   Johannesburg
 2            3               418             Naspers      Cape Town
 3            4               445          First Rand   Johannesburg
 4            5               530               Sasol   Johannesburg
 5            6               661  Absa Group Limited   Johannesburg
 6            7               755             Nedbank   Johannesburg
 7            8               782          Old Mutual        Sandton
 8            9               818              Sanlam      Bellville
 9           10               936           MTN Group   Johannesburg
 10          11              1764            Investec   Johannesburg
 11          12              1764        RMB Holdings   Johannesburg
 12          13              1881   Shoprite Holdings    Brackenfell
 13          14              1981       Bidvest Group   Johannesburg

     Revenue (billions US$)  Profit (billions US$)  Assets (billions US$)  \
 0                     27.6                   3.60                   52.2
 1                      9.0                   2.10                  147.9
 2                      6.9                  13.50                   35.8
 3                      7.6                   2.30                  110.5
 4                     14.8                   1.30                   32.8
 5                      9.7                   1.10                   89.6
 6                      7.7                   1.00                   72.6
 7                      8.2                   1.10                   60.7
 8                      5.8                   0.90                   55.9
 9                     10.2                   0.66                   17.0
 10                     6.0                   0.72                   73.2
 11                     4.0                   0.70                    3.6
 12                    11.0                   0.30                    4.7
 13                     9.4                   0.30                    4.4

     Value (billions US$)                     Industry
 0                   35.9  Diversified Metals & Mining
 1                   22.9                      Banking
 2                  111.3                        Media
 3                   27.2                      Banking
 4                   21.0                  Oil and Gas
 5                    9.9                      Finance
 6                    9.4                      Banking
 7                    8.3                      Finance
 8                   12.4                    Insurance
 9                   13.5           Telecommunications
 10                   6.3          Investment Services
 11                   8.3                      Finance
 12                   7.0                       Retail
 13                   7.2                      Finance  ]

In [13]:
len(df_list)

1

In [14]:
df = df_list[0]

In [15]:
df

,Unnamed: 0,Forbes 2000 rank,Name,Headquarters,Revenue (billions US$),Profit (billions US$),Assets (billions US$),Value (billions US$),Industry
0,1,261,Anglo American,Johannesburg*,27.6,3.60,52.2,35.9,Diversified Metals & Mining
1,2,415,Standard Bank,Johannesburg,9.0,2.10,147.9,22.9,Banking
2,3,418,Naspers,Cape Town,6.9,13.50,35.8,111.3,Media
3,4,445,First Rand,Johannesburg,7.6,2.30,110.5,27.2,Banking
4,5,530,Sasol,Johannesburg,14.8,1.30,32.8,21.0,Oil and Gas
5,6,661,Absa Group Limited,Johannesburg,9.7,1.10,89.6,9.9,Finance
6,7,755,Nedbank,Johannesburg,7.7,1.00,72.6,9.4,Banking
7,8,782,Old Mutual,Sandton,8.2,1.10,60.7,8.3,Finance
8,9,818,Sanlam,Bellville,5.8,0.90,55.9,12.4,Insurance
9,10,936,MTN Group,Johannesburg,10.2,0.66,17.0,13.5,Telecommunications
10,11,1764,Investec,Johannesburg,6.0,0.72,73.2,6.3,Investment Services
11,12,1764,RMB Holdings,Johannesburg,4.0,0.70,3.6,8.3,Finance
12,13,1881,Shoprite Holdings,Brackenfell,11.0,0.30,4.7,7.0,Retail
13,14,1981,Bidvest Group,Johannesburg,9.4,0.30,4.4,7.2,Finance

In [19]:
df.to_csv('SACompanies.csv' , index = 'false')